import(rJava)
import(bartMachineJARs)
import(randomForest)
import(missForest)

import(graphics)
import(grDevices)
import(stats)
importFrom("utils", "packageVersion")

export(bartMachine)
export(build_bart_machine)
export(bartMachineArr)
export(predict_bartMachineArr)

export(set_bart_machine_num_cores)
export(bart_machine_num_cores)

export(dummify_data)
export(get_var_counts_over_chain)
export(get_var_props_over_chain)
export(node_prediction_training_data_indices)
export(get_projection_weights)

export(cov_importance_test)
export(linearity_test)

export(plot_y_vs_yhat)
export(check_bart_error_assumptions)
export(get_sigsqs)

export(investigate_var_importance)
export(plot_convergence_diagnostics)
export(interaction_investigator)
export(pd_plot) 
export(rmse_by_num_trees)

export(bart_predict_for_test_data)
export(bart_machine_get_posterior)
export(calc_credible_intervals)
export(calc_prediction_intervals)

export(build_bart_machine_cv)
export(bartMachineCV)
export(k_fold_cv)

export(var_selection_by_permute)
export(var_selection_by_permute_cv)

S3method(predict, bartMachine)
S3method(print, bartMachine)
S3method(summary, bartMachine) #alias for print
